<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Winnow Demo</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Winnow Demo - Recipe Search</h1>
        <form method="post" action="/#results">
            <h2>Choose a filter to find corresponding recipes</h2>
            <div class="predefined-filters">
                {% for predef in predefined_filters %}
                    <p class="predef-filt">
                        <input type="radio"
                            name="predefined"
                            id="predefined_{{ loop.index }}"
                            value="{{ predef.name }}"
                            data-filter='{{ predef.filt | tojson }}'
                            {% if predef.name == chosen_filt.name %}checked{% endif %}
                        >
                        <label for="predefined_{{ loop.index }}">
                            <span class="icon">
                                {{ predef.icon | safe }}
                            </span>
                            <br>
                            {{ predef.name }}
                        </label>
                    </p>
                {% endfor %}
                <p class="predef-filt">
                    <input type="radio"
                        name="predefined"
                        id="predefined_build-my-own"
                        value="build-my-own"
                        data-filter='{{ empty_filter }}'
                    >
                    <label for="predefined_build-my-own">
                        Build my own
                    </label>
                </p>

            </div>
            <div class="filter-json">
                <textarea name="filter-json-input">{{ user_supplied_filt  }}
                </textarea>
            </div>
            <button type="submit">Find me some recipes!</button>
        </form>
        {% if results %}
            <div id="results" class="results-target">
                <div class="sql-string">
                    <pre>{{ results.query }}</pre>
                    <pre>{{ results.params }}</pre>
                </div>
                <div class="recipe-results">
                {% for res in results.rows %}
                    <div class="recipe">
                        <h5><a href="{{ res.url }}">{{ res.name }}</a></h5>
                        <img src="{{res.img_url}}">
                        <p>{{ res.description }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        <script type="application/javascript" src="/static/index.js"></script>
    </body>
</html>
