<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <title>Winnow Demo</title>
        <link rel="stylesheet" href="/static/bw.css">
        <link rel="stylesheet" href="/static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i" rel="stylesheet">
    </head>
    <body>
        <h1>Winnow Demo - Recipe Search</h1>
        <div class="form-and-sources-list">
            <form method="post" action="/#results" class="form-and-sources-list-child">
                <h2>Choose a filter to find corresponding recipes</h2>
                <div class="predefined-filters">
                    {% for predef in predefined_filters %}
                        <p class="predef-filt">
                            <input type="radio"
                                name="predefined"
                                id="predefined_{{ loop.index }}"
                                value="{{ predef.name }}"
                                data-filter='{{ predef.filt | tojson }}'
                                {% if predef.name == chosen_filt_name %}checked{% endif %}
                            >
                            <label for="predefined_{{ loop.index }}">
                                <span class="icon">
                                    <img src="{{ predef.icon }}">
                                </span>
                                <br>
                                {{ predef.name }}
                            </label>
                        </p>
                    {% endfor %}
                    <p class="predef-filt">
                        <input type="radio"
                            name="predefined"
                            id="predefined_build-my-own"
                            value="build-my-own"
                            data-filter='{{ empty_filter }}'
                        >
                        <label for="predefined_build-my-own">
                            <span class="icon">
                                <img src="/static/tools.png">
                            </span>
                            <br>
                            Build my own
                        </label>
                    </p>

                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <ul id="results" class=flashes>
                    {% for category, message in messages %}
                      <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <div class="filter-json">
                    <textarea name="filter-json-input">{{ user_supplied_filt  }}
                    </textarea>
                </div>
                <div class="find-recipes-wrapper">
                    <button class="find-recipes" type="submit">Find me some recipes!</button>
                </div>
            </form>
            <div class="form-and-sources-list-child">
                <h4>Available Recipe Sources</h4>
                <ul class="list-of-sources">
                    {% for source in sources %}
                        <li class="source-list">
                            <strong>{{ source.display_name }}</strong>
                            <emph>with operators: </emph>
                            {% for operator in source.operators %}
                                <span>
                                    {{ operator.name }}
                                    {% if not loop.last %},{% endif %}
                                </span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% if results %}
            <div id="results" class="results-target">
                <div class="sql-string">
                    {% highlight 'sql' %}{{ results.query }}
                    {% endhighlight %}
                    {% highlight 'python' %}{{ results.params }}
                    {% endhighlight %}
                </div>
                <div class="recipe-results">
                {% for res in results.rows %}
                    <div class="recipe">
                        <a href="{{ res.url }}"><img src="{{res.img_url}}"></a>
                        <div class="recipe-text">
                            <p class="recipe-title"><a class="recipe-link" href="{{ res.url }}">{{ res.name }}</a></p>
                            <p class="recipe-description">{{ res.description }}</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        <footer>
            <p>
                docs at <a href="http://winnow.readthedocs.io/">winnow.readthedocs.io</a>
            </p>
            <p>
                winnow code at <a href="https://github.com/bgschiller/winnow">github.com/bgschiller/winnow</a>
            </p>
            <p>
                this page code at <a href="https://github.com/bgschiller/winnow-demo">github.com/bgschiller/winnow-demo</a>
            </p>
        </footer>
        <script type="application/javascript" src="/static/index.js"></script>
    </body>
</html>
